ul + p {
    display: none;
}

ul{
    text-align: center;
    list-style-type: none;
}
li{
    font-size: 1.5em;
}
li:hover{
    color: white;
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}
